.product-description {
  font-size: 0.875rem; /* Tamaño pequeño */
  color: #718096; /* Gris-600 */
  margin-top: 0.25rem; /* Separación superior */
  max-height: 5em; /* Ajusta la altura máxima según el número de líneas */
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0));
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0));
}
